@keyframes background {
    from {
        background-image: url(/images_the_district/menu-pizza.jpg);
    }

    to {
        background-image: url(/images_the_district/pizza.jpg);
    }
}
@keyframes background2 {
    from {
        background-image: url(/images_the_district/menu-burger.jpg);
    }

    to {
        background-image: url(/images_the_district/burger.jpg);
    }
}
html {
    overflow: hidden;
}

nav {
    height: 15vh;
}

div {
    border: none;
}

.first {
    background-color: grey;
    width: 200vh;
    height: 15vh;
    display: flex;
    justify-content: center;
}

li {
    width: 32vh;
    text-align: center;
}

#logo {
    width: 100pt;
    height: 104pt;
    background-color: black;
}

.bg {
    background-image: url(/images_the_district/bg.jpg);
    height: 20vh;
    background-repeat: no-repeat;
    background-size: 200vh;
    background-position-y: -40px;
}

.form-control {
    background: none;
    display: flex;
    justify-content: center;
    border: none;
}

.d-flex {
    background-color: white;
    width: 50vh;
    border-radius: 1vh;
}

#form {
    padding-top: 60px;
}

.anim1 {
    animation-name: background;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    width: 30vh;
    height: 75vh;
    background-repeat: no-repeat;
    background-color: black;
}

.anim2 {
    animation-name: background2;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    width: 30vh;
    height: 75vh;
    background-repeat: no-repeat;
    background-color: black;
    position: relative;
    left: 171vh;

}

.corps {
    background-color: black;
}

.paragraph {
    position: absolute;
    background: linear-gradient(#945656, #64512D);
    left: 70vh;
    top: 40vh;
    padding: 25vh;
}

.titre {
    position: absolute;
    color: black;
    background: none;
    left: 5vh;
    top: 25pt;
}

.texte {
    position: absolute;
    color: black;
    background: none;
    top: 100pt;
    left: 40pt;
    font-size: xx-large;
}