html{
    width: 200vh;
    overflow-x: hidden;
}
nav{
    height: 15vh;
}
div{
    border: none;
}
.first{
    background-color: grey;
    width: 200vh;
    height: 15vh;
    display: flex;
    justify-content: center;
}
li{
    width: 32vh;
    text-align: center;
}
#logo{
    width: 100pt;
    height: 104pt;
    background-color: black;
}
body{
    background-color: black;
}
#twitte {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#youtube {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#instagram {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#reseaux1 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    top: -2vh;
    left: -3vh;
}

#in {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#facebook {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#pinterest {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#reseaux2 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    left: -3vh;
}

h3{
    position: relative;
    left: 16vh;
    top: 15vh;
    font-size: xx-large;
}
.corps{
    position: relative;
    left: 5vh;
    top: 5vh;
}
.pad{
    display: inline-flex;
}
a{
    color: black;
}
.wrap{
    width: 40vh;
    height: 35vh;
    background-image: url(/images_the_district/category/wrap_cat.jpg);
    background-repeat: no-repeat;
    background-size: 40vh;
    background-position-y: -5vh;
}
.veggie{
    position: relative;
    left: 10vh;
    width: 40vh;
    height: 35vh;
    background-image: url(/images_the_district/category/veggie_cat.jpg);
    background-repeat: no-repeat;
    background-size: 60vh;
}
.salade{
    color: white;
    position: relative;
    left: 20vh;
    width: 40vh;
    height: 35vh;
    background-image: url(/images_the_district/category/salade_cat.jpg);
    background-repeat: no-repeat;
    background-size: 40vh;
    background-position-y: -15vh;
}
.sandwich{
    color: white;
    position: relative;
    left: 30vh;
    width: 40vh;
    height: 35vh;
    background-image: url(/images_the_district/category/sandwich_cat.jpg);
    background-repeat: no-repeat;
    background-size: 40vh;
}
.burger{
    top: 5vh;
    position: relative;
    width: 40vh;
    height: 35vh;
    background-image: url(/images_the_district/category/burger_cat.jpg);
    background-repeat: no-repeat;
    background-size: 40vh;

}
.pate{
    top: 5vh;
    position: relative;
    left: 10vh;
    width: 40vh;
    height: 35vh;
    background-image: url(/images_the_district/category/pasta_cat.jpg);
    background-repeat: no-repeat;
    background-size: 60vh;
    background-position-x: -10vh;
    background-position-y: -30vh;
}
.sushi{
    color: white;
    top: 5vh;
    position: relative;
    left: 20vh;
    width: 40vh;
    height: 35vh;
    background-image: url(/images_the_district/category/asian_food_cat.jpg);
    background-repeat: no-repeat;
    background-size: 40vh;
    background-position-y: -15vh;
}
.pizza{
    top: 5vh;
    position: relative;
    left: 30vh;
    width: 40vh;
    height: 35vh;
    background-image: url(/images_the_district/category/pizza_cat.jpg);
    background-repeat: no-repeat;
    background-size: 40vh;
    background-position-y: -5vh;
}
footer {
    display: none;
}
.dropdown{
    display: none;
}

@media(max-width:560px) {
    html{
        width: 48.7vh;
        height: 200vh;
        overflow: visible;
    }
    header {
        position: relative;
        bottom: 1.1vh;
        height: 20vh;
    }
    body{
        height: 200vh;
    }
    .first {
        height: 19vh;
    }
    .dropdown{
        display: block;
        position: absolute;
        left: 26.5vh;
    }
    .btn{
        height: 6vh;
        width: 12vh;
        font-size: 2vh;
    }
    .dropdown-item{
        position: relative;
        right: 0vh;
        font-size: 3vh;
    }
    .dropdown-menu{
        width: 5px;
    }
    li{
        width: 150px;
    }
    #logo {
        position: absolute;
        left: 0vh;
        width: 25vh;
        height: 18.9vh;
        object-fit: cover;
    }
/*------------------------HEADER A AJOUTER SUR CHAQUE PAGE-----------------------------*/
.corps{
    width: 30vh;
}
.wrap{
    position: relative;
    left: 2vh;
    top: -5vh;
    height: 15vh;
    width: 35vh;
    background-position-y: -150px;
}
.titre-img{
    height: 0vh;
    margin: 0vh;
    left: 11vh;
    top: 5vh;
}
.veggie{
    position: relative;
    left: 2vh;
    top: 0vh;
    height: 15vh;
    width: 35vh;
}
.salade{
    position: relative;
    left: 2vh;
    top: 5vh;
    height: 15vh;
    width: 35vh;
}
.sandwich{
    position: relative;
    left: 2vh;
    top: 10vh;
    height: 15vh;
    width: 35vh;
}
.burger{
    position: relative;
    left: 2vh;
    top: 15vh;
    height: 15vh;
    width: 35vh;
    background-position-y: -120px;
}
.pate{
    position: relative;
    left: 2vh;
    top: 20vh;
    height: 15vh;
    width: 35vh;
}
.sushi{
    position: relative;
    left: 2vh;
    top: 25vh;
    height: 15vh;
    width: 35vh;
    background-position-y: -230px;
}
.pizza{
    position: relative;
    left: 2vh;
    top: 30vh;
    height: 15vh;
    width: 35vh;
    background-position-y: -100px;
}

/*------------------------FOOTER A AJOUTER SUR CHAQUE PAGE-----------------------------*/
footer {
    display: block;
    position: relative;
    bottom: -39vh;
    height: 21.1vh;
    background-color: grey;
}

#twitte {
    height: 7vh;
    width: 7vh;
}

#youtube {
    height: 7vh;
    width: 7vh;
}

#instagram {
    height: 7vh;
    width: 7vh;
}

#reseaux1mobile {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: relative;

    top: 1vh;
}

#in {
    height: 7vh;
    width: 7vh;
}

#facebook {
    height: 7vh;
    width: 7vh;
}

#pinterest {
    height: 7vh;
    width: 7vh;
}

#reseaux2mobile {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: relative;
    top: 5vh;
}
}