html {
    overflow-x: hidden;
}

nav {
    height: 15vh;
}

div {
    border: none;
}

.first {
    background-color: grey;
    width: 200vh;
    height: 15vh;
    display: flex;
    justify-content: center;
}

li {
    width: 32vh;
    text-align: center;
}

#logo {
    width: 100pt;
    height: 104pt;
    background-color: black;
}

#twitte {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#youtube {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#instagram {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#reseaux1 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    top: -2vh;
    left: -3vh;
}

#in {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#facebook {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#pinterest {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#reseaux2 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    left: -3vh;
}

/*------------------------------HEADER-----------------------------  */
body {
    background: linear-gradient(rgb(6, 6, 126), rgb(7, 91, 116));
    background-repeat: no-repeat;
    background-size: 200vh;
    height: 100vh;
}



/*-------------------------------------------Formulaire------------------------------*/


form {
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 70vh;
    margin-top: 100px;
    margin-left: 60vh;
}

form h1 {
    font-size: 20px;
}

form .separation {
    width: 100%;
    height: 1px;
    background-color: #747cdf;
}

form .corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

form .corps-formulaire .groupe {
    position: relative;
    /* Pour mettre positionner l’élément dans le flux normal de la page */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

form .corps-formulaire .gauche .groupe input {
    margin-top: 5px;
    padding: 10px 5px 10px 30px;
    border: 1px solid #c9c9c9;
    outline-color: #747cdf;
    border-radius: 5px;
}

form .corps-formulaire .gauche .groupe i {
    position: absolute;
    /* positionné par rapport à son parent le plus proche positionné */
    left: 0;
    top: 25px;
    padding: 9px 8px;
    color: #747cdf;
}

form .corps-formulaire .droite {
    margin-left: 40px;
}

form .corps-formulaire .droite .groupe {
    height: 100%;
}

form .corps-formulaire .droite .groupe textarea {
    margin-top: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    border: 2px solid #747cdf;
    outline: none;
    border-radius: 5px;
    resize: none;
    height: 72%;
}

form .pied-formulaire button {
    margin-top: 10px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

form .pied-formulaire button:hover {
    transform: scale(1.05);
}

/*-------------------------------------------------------------------------------*/


footer {
    display: none;
}

.dropdown {
    display: none;
}

@media(max-width:560px) {
    html {
        width: 48.7vh;
        height: 200vh;
        overflow: visible;
    }

    header {
        position: relative;
        bottom: 1.1vh;
        height: 20vh;
    }

    body {
        height: 200vh;
    }

    .first {
        height: 19vh;
    }

    .dropdown {
        display: block;
        position: absolute;
        left: 26.5vh;
    }

    .btn {
        height: 6vh;
        width: 12vh;
        font-size: 2vh;
    }

    .dropdown-item {
        position: relative;
        right: 0vh;
        font-size: 3vh;
    }

    .dropdown-menu {
        width: 5px;
    }

    li {
        width: 150px;
    }

    #logo {
        position: absolute;
        left: 0vh;
        width: 25vh;
        height: 18.9vh;
        object-fit: cover;
    }

    /*------------------------HEADER A AJOUTER SUR CHAQUE PAGE-----------------------------*/
    form{
        margin-top: 0px;
        margin-left: 2px;
        width: 48vh;
        height: 100vh;
        position: relative;
        top: 20vh;
    }

    /*------------------------FOOTER A AJOUTER SUR CHAQUE PAGE-----------------------------*/
    footer {
        display: block;
        position: relative;
        bottom: -58.9vh;
        height: 21.1vh;
        background-color: grey;
    }

    #twitte {
        height: 7vh;
        width: 7vh;
        object-fit: cover;
    }

    #youtube {
        height: 7vh;
        width: 7vh;
    }

    #instagram {
        height: 7vh;
        width: 7vh;
    }

    #reseaux1mobile {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        position: relative;

        top: 1vh;
    }

    #in {
        height: 7vh;
        width: 7vh;
        object-fit: cover;
    }

    #facebook {
        height: 7vh;
        width: 7vh;
    }

    #pinterest {
        height: 7vh;
        width: 7vh;
    }

    #reseaux2mobile {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        position: relative;
        top: 5vh;
    }
}