html {
    overflow-x: hidden;
}

nav {
    height: 15vh;
}

div {
    border: none;
}

.first {
    background-color: grey;
    width: 200vh;
    height: 15vh;
    display: flex;
    justify-content: center;
}

li {
    width: 32vh;
    text-align: center;
}

#logo {
    width: 100pt;
    height: 104pt;
    background-color: black;
}
#twitte {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#youtube {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#instagram {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#reseaux1 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    top: -2vh;
    left: -3vh;
}

#in {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#facebook {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#pinterest {
    height: 4vh;
    width: 6vh;
    object-fit: cover;
}

#reseaux2 {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: relative;
    left: -3vh;
}
/* pas a ce qu'il y a au-dessus bar du haut de la page */

body{
    background: linear-gradient(#325678, #824949);
    height: 100vh;
}
.box{
    position: relative;
    background: linear-gradient(#951B1B,#21377E);
    height: 50vh;
    width: 50vh;
    left: 75vh;
    top: 10vh;
}
h1{
    text-align: center;
    color: white;
}
.couverts{
    width: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10vh;
    top: 5vh;
    font-size: 2.5vh;
    background-color:white ;
    border: none;
}
#guests{
    border: none;
}
button{
    border: none;
    width: 30vh;
}
.date{
    width: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10vh;
    top: 10vh;
    font-size: x-large;
    background-color: grey;
}
.horaire{
    text-align: center;
    position: relative;
    top: 15vh;
    font-size: x-large;

}
.reserve{
    width: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    left: 10vh;
    bottom: -160px;
    font-size: x-large;
    background-color: white;
}
.reserveenvoi{
    background-color: white;
    border: none;
}
#date{
    width: 30vh;
    text-align: center;
}
#appt-time{
    width: 20vh;
}
#nom{
    width: 45vh;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    left: 3vh;
    top: 2vh;
    font-size: x-large;
    border: none;
}
footer {
    display: none;
}
.dropdown{
    display: none;
}

@media(max-width:560px) {
    html{
        width: 48.7vh;
        height: 200vh;
        overflow: visible;
    }
    header {
        position: relative;
        bottom: 1.1vh;
        height: 20vh;
    }
    body{
        height: 200vh;
    }
    .first {
        height: 19vh;
    }
    .dropdown{
        display: block;
        position: absolute;
        left: 26.5vh;
    }
    .btn{
        height: 6vh;
        width: 12vh;
        font-size: 2vh;
    }
    .dropdown-item{
        position: relative;
        right: 0vh;
        font-size: 3vh;
    }
    .dropdown-menu{
        width: 5px;
    }
    li{
        width: 150px;
    }
    #logo {
        position: absolute;
        left: 0vh;
        width: 25vh;
        height: 18.9vh;
        object-fit: cover;
    }
/*------------------------HEADER A AJOUTER SUR CHAQUE PAGE-----------------------------*/
.box{
    left: 0px;
    width: 48.6vh;
    height: 80vh;
}
.pad{
    margin: 20px;
}
#nom{
    left: -5px;
}
.couverts{
    left: 55px;
}
.date{
    left: 55px;
}
.horaire{
    left: 0px;
}
.reserve{
    left: 55px;
}
/*------------------------FOOTER A AJOUTER SUR CHAQUE PAGE-----------------------------*/
footer {
    display: block;
    position: relative;
    bottom: -79vh;
    height: 21.1vh;
    background-color: grey;
}

#twitte {
    height: 7vh;
    width: 7vh;
    object-fit: cover;
}

#youtube {
    height: 7vh;
    width: 7vh;
}

#instagram {
    height: 7vh;
    width: 7vh;
}

#reseaux1mobile {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: relative;

    top: 1vh;
}

#in {
    height: 7vh;
    width: 7vh;
    object-fit: cover;
}

#facebook {
    height: 7vh;
    width: 7vh;
}

#pinterest {
    height: 7vh;
    width: 7vh;
}

#reseaux2mobile {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: relative;
    top: 5vh;
}
}