html {
  overflow: hidden;
}

nav {
  height: 15vh;
}

div {
  border: none;
}

.first {
  background-color: grey;
  width: 200vh;
  height: 15vh;
  display: flex;
  justify-content: center;
}

li {
  width: 32vh;
  text-align: center;
}

#logo {
  width: 100pt;
  height: 104pt;
  background-color: black;
}
#twitte {
  height: 4vh;
  width: 6vh;
  object-fit: cover;
}

#youtube {
  height: 4vh;
  width: 6vh;
  object-fit: cover;
}

#instagram {
  height: 4vh;
  width: 6vh;
  object-fit: cover;
}

#reseaux1 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  position: relative;
  top: -2vh;
  left: -3vh;
}

#in {
  height: 4vh;
  width: 6vh;
  object-fit: cover;
}

#facebook {
  height: 4vh;
  width: 6vh;
  object-fit: cover;
}

#pinterest {
  height: 4vh;
  width: 6vh;
  object-fit: cover;
}

#reseaux2 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  position: relative;
  left: -3vh;
}

body {
  background-image: url(/images_the_district/juicy-pop-restaurant-5.jpg);
  background-size: 200vh;
  background-repeat: no-repeat;
  height: 150vh;
}

.name {
  background: linear-gradient(grey, rgba(255, 255, 255, 0.425));
  width: 20vh;
  position: relative;
  left: 11vh;
  top: 5vh;
  border-radius: 5vh;
}

.titre {
  text-align: center;
}

.container,
.container2,
.container3 {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 38px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black;
  width: 50vh;
  position: absolute;
  margin: 10vh;
  height: 50vh;
  width: 40vh;
}

.container2 {
  left: 70vh;
}

.container3 {
  left: 140vh;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.banner-image {
  background-image: url(/images_the_district/food/spaghetti-legumes.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

.banner-image2 {
  background-image: url(/images_the_district/food/lasagnes_viande.jpg);
  background-position: center;
  background-size: cover;
  height: 250px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

.banner-image3 {
  background-image: url(/images_the_district/food/tagliatelles-saumon.webp);
  background-position: center;
  background-size: cover;
  height: 250px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

h1 {
  font-family: 'Righteous', sans-serif;
  color: rgba(255, 255, 255, 0.98);
  text-transform: uppercase;
  font-size: 2.4rem;
}

p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-wrapper {
  margin-top: 18px;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn+.btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  color: rgba(0, 212, 255, 0.9);
  border: 1px solid rgba(0, 212, 255, 0.6);
  transition: all .3s ease;

}

.outline:hover {
  transform: scale(1.125);
  color: rgba(255, 255, 255, 0.9);
  border-color: rgba(255, 255, 255, 0.9);
  transition: all .3s ease;
}

.fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all .3s ease;
}

footer {
  display: none;
}

.dropdown {
  display: none;
}

.mobile {
  display: none;
}

@media(max-width:560px) {
  html {
    width: 48.7vh;
    height: 200vh;
    overflow: visible;
  }

  header {
    position: relative;
    bottom: 1.1vh;
    height: 20vh;
  }

  body {
    height: 200vh;
    background-image: none;
    background-color: black;
  }

  .first {
    height: 19vh;
  }

  .dropdown {
    display: block;
    position: absolute;
    left: 26.5vh;
  }

  .btn {
    height: 6vh;
    width: 12vh;
    font-size: 2vh;
  }

  .dropdown-item {
    position: relative;
    right: 0vh;
    font-size: 3vh;
  }

  .dropdown-menu {
    width: 5px;
  }

  li {
    width: 150px;
  }

  #logo {
    position: absolute;
    left: 0vh;
    width: 25vh;
    height: 18.9vh;
    object-fit: cover;
  }

  /*------------------------HEADER A AJOUTER SUR CHAQUE PAGE-----------------------------*/


  .dropdown {
    padding-top: 5px;
  }

  .btn {
    padding: 10px;
  }

  .name {
    width: 30vh;
    left: 20px;
    top: 3px;
    margin-left: 50px;
  }

  .container,
  .container2,
  .container3,
  .container4 {
    border: none;
  }


  .title-mob {
    position: relative;
    top: -150px;
    color: black;
    font-size: xx-large;
    background-color: rgba(128, 128, 128, 0.253);
  }



  h1 {
    font-size: 20px;
  }

  p {
    display: none;
  }

  .container {
    top: 200px;
    left: 40px;
    height: 230px;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0);
    padding: 0px;
  }

  .banner-image {
    height: 230px;

  }

  .container2 {
    top: 65vh;
    left: 40px;
    height: 230px;
    margin: 0px;
    padding: 0px;
  }

  .banner-image2 {
    top: 1px;
    height: 230px;
  }

  .container3 {
    top: 103vh;
    left: 40px;
    height: 230px;
    margin: 0px;
    padding: 0px;
  }

  .banner-image3 {
    top: 1px;
    height: 230px;
  }


  .button-wrapper {
    top: 146.5vh;
    left: 200px;
    display: none;
  }

  .fill {
    width: 20vh;
  }

  .button {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: center;
  }

  .next {
    width: 50px;
  }


  /*------------------------FOOTER A AJOUTER SUR CHAQUE PAGE-----------------------------*/
  footer {
    display: block;
    position: relative;
    bottom: -154.6vh;
    height: 21.1vh;
    background-color: grey;
  }

  #twitte {
    height: 7vh;
    width: 7vh;
    object-fit: cover;
  }

  #youtube {
    height: 7vh;
    width: 7vh;
  }

  #instagram {
    height: 7vh;
    width: 7vh;
  }

  #reseaux1mobile {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: relative;

    top: 1vh;
  }

  #in {
    height: 7vh;
    width: 7vh;
    object-fit: cover;
  }

  #facebook {
    height: 7vh;
    width: 7vh;
  }

  #pinterest {
    height: 7vh;
    width: 7vh;
  }

  #reseaux2mobile {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    position: relative;
    top: 5vh;
  }
}